/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

img {
max-width: 100%;
height: auto !important;
}

h1, h2, h3, h4, .title {
    text-transform: lowercase;
    color: #7a9688;
    font-weight: normal;
}

#page {
    font-family: Arial, sans-serif;
}

p {
    font-size: 16px;
}

a {
    color: #7a9688;
    text-decoration: none;   
}

body {
color: #555;
}

p a {
font-size: 16px;
}

/*div specific tweaks*/

.view-Spotlight div.views-field img {
max-width: 70px;
}

.view-Spotlight h3 {
margin: 0 0 5px 0;
font-size: 17px;
}

.view-Spotlight .views-row {
border-top: 1px solid #ccc;
padding: 10px 0;
}

.region-footer #block-menu-secondary-menu > ul {
background: #f7f7f7;
}

#block-block-1 {
padding: 5px;
}

#block-block-1 p, #block-block-1 a {
font-size: 12px;
}

.view-Stones table td[class*="col-"], table th[class*="col-"] {
display: table-cell;
float: none;
vertical-align: top;
width: 20% !important;
font-size: 0em;
}

.panel-pane h3 {
font-size: 18px;
margin: 10px 0;
}

.pane-stone-finishes-stone-finishes .views-field {
text-align: center;
}

.stone_fieldset-region fieldset, .application_fieldset-region fieldset {
border: none;
}

.node-type-content-project .panels-flexible-region-first {
float: left;
width: 100%;
}

.node-type-content-project .panels-flexible-region-inside-first {
padding: 0;
text-align: center;
}

#portfolio-images-pane ul.image-thumbnails-thumbnails {
padding: 0;
}

#portfolio-images-pane ul.image-thumbnails-thumbnails li {
float: left;
list-style: none;
margin-top: 5px;
margin-right: 1px;
}

.node-type-content-project .panels-flexible-region-11-project_details, .node-type-content-application .panels-flexible-region-new-center {
float: left;
width: 100%;
}

.image-thumbnails .image-thumbnails-preview {
height: auto;
}

a[title="zoom"] {
display: none;
}

.view-ApplicationBlock ul li {
list-style: none;
}

.view-ApplicationBlock ul {
padding: 0;
}


/* Portfolio Table overhaul */

.view-Portfolio tr {
display: block;
float: left;
}

.portfolio-thumb-screen {
font-size: 13px;
min-height: 60px;
}

.view-Portfolio td {
display: inline-block !important;
float: left !important;
}

@media screen and (max-width: 3000px) {

	.view-Portfolio td {
		width: 25%;
	}

}

@media screen and (max-width: 450px) {

	.view-Portfolio td {
		width: 50%;
	}

}





