
/*****************************/
/* MAIN - MISC               */
/*****************************/

body { font-size: 100%; }

#page-wrapper, 
.region-bottom { margin-left: 0; margin-right: 0; width: 960px; }

#skip-to-nav,
#page { font-family: Arial, sans-serif; font-size: 0.75em; line-height: 1.5em; text-align: justify; }

a { color: #7a9688; text-decoration: none; }
a:hover { color: #000000; }
a:active, a.active { color: #000000; }

h1 { font-size: 2em !important; letter-spacing: .273em !important; margin-bottom:8px !important; }
h2 { font-size: 1.455em; letter-spacing: .273em; margin-bottom:10px; }
h3 { font-size: 1.273em; letter-spacing: .091em; margin-bottom:7px; }
h4 { font-size: 1.091em; letter-spacing: .091em; margin-bottom:7px; }
h1, h2, h3, h4, .title { text-transform: lowercase; color: #7a9688; font-weight:normal; }

ul, ol, .item-list ul { margin-left:0px; padding-left:0px; margin-top:5px; list-style: none; list-style-type:none; }

fieldset { padding:5px; }
fieldset legend { margin:0; padding:0; }
#page .content fieldset { border:0px solid #cccccc; margin-bottom:10px; }

table { margin-bottom:5px; }
td { text-align:left; padding: 5px 10px 5px 0; }
tr { padding: 0.1em 0.6em; background-color:#fff; }
tr.even, tr.odd { background-color:#fff; }

div.tabs { margin:0 0 5px; }


/*****************************/
/* NAV - MENUS               */
/*****************************/
#navigation .block { padding-top:5px; margin-bottom:0px; }

/* primary */
ul#superfish-1 { margin:0 0 0 211px !important; padding: 0 !important; font-size:11px !important; letter-spacing:0px !important; font-family:arial !important; }
ul#superfish-1 li { margin:0 !important; padding:0 !important; border-right:1px solid #fff; background-color: #000000 !important; text-align:center !important; font-size:11px !important; letter-spacing:0px !important; font-family:arial !important; }
ul#superfish-1-1 li.last { border-right:0px; }
ul#superfish-1 a { color: #FFFFFF !important; padding:4px 30.2px !important; font-size:11px !important; letter-spacing:0px !important; font-family:arial !important; }
ul#superfish-1 a:visited { font-size:11px !important; letter-spacing:0px !important; font-family:arial !important; }
ul#superfish-1 a:hover, ul#superfish-1 a:active { color: #7A9688 !important; background-color:#000 !important; }

/* secondary menu - footer links */
#block-menu-secondary-menu { margin:40px 0 10px 0px; padding:0; }
#block-menu-secondary-menu ul li { border-left: 1px solid #CCCCCC; display: inline; list-style-type: none; margin: 0; padding: 0 0 0 5px; }
#block-menu-secondary-menu ul li.first { border-left: 0 none; margin: 0; padding: 0; }


/*****************************/
/* CONTENT                   */
/*****************************/
#content > .section { margin-left:12px; margin-right:40px; }
#content .region-content { margin-left:20px; }
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second { margin-top:80px; }
p { margin-top:0px; }
.view-mode-full .field-name-body .field-items p img.media-image { margin-top:5px; }
.pane-node-field-stone-image .field-items img { margin-top:5px; }
.pane-node-field-portfolio-image { margin-top:5px; }
body.page-portfolio h1 { margin-bottom:0px !important; }
body.page-portfolio #content .region-content { margin-left:10px; }


/*****************************/
/* LEFT SIDEBAR              */
/*****************************/
.region-sidebar-first .block { margin:3px 10px 25px 25px; }
.region-sidebar-first .block li { text-align: right; margin: 0 0 10px 0; padding:0; text-transform:lowercase; list-style:none; list-style-type:none; list-style-image:none; }
.region-sidebar-first .block h2 { color:#000000; font-size:1.3em; letter-spacing:normal; }
.region-sidebar-first .block li a { color: #7a9688; }
.region-sidebar-first .block li a:visited { color: #7a9688; }
.region-sidebar-first .block li a:hover { color: #000000; }


/*****************************/
/* FOOTER                    */
/*****************************/
.region-footer { padding-left:211px; }
.region-footer p { color: #666666; line-height:1.25em; }


/*****************************/
/* tabs                      */
/*****************************/
#tabs { margin:20px 0 0 208px; display:inline-block; }
#tabs ul li { display: inline; list-style-type: none; margin: 0; padding: 0 10px 0 0; font-size:1.091em !important; }
#tabs ul li a { font-size:1.091em !important; padding:0 0 2px 0; text-transform: lowercase; }
#tabs ul li.active a { font-size:1.091em !important; text-transform: lowercase; border-bottom:3px solid #ccc; }
#tabs ul li a:hover { border-bottom: 3px solid #ccc; }


/*****************************/
/* FORMS                     */
/*****************************/
.form-item { margin-bottom:10px; }
.form-item, .form-item label { display:block; }
.form-item .form-type-radio label { display:inline; }
.form-item .description { font-size:.909em; color: #666; }


/*****************************/
/* PANELS                    */
/*****************************/
.panels-flexible-region-3-center,
.panels-flexible-region-6-center { width:100%; }
.page-home .panels-flexible-region-new-center { width:100%; }
.panels-flexible-region-inside { padding-left:0; }
/* custom panes */
.content .pane-title { color:#000; font-weight:bold; font-size:1em; letter-spacing:normal; margin:10px 0 0 0; }


/*****************************/
/* HOME STONES APPS PROJECTS */
/****************************/
/* home */
#home-spotlight .pane-content { margin-left:20px; }
#home-spotlight h2.pane-title { font-size: 1.455em; letter-spacing: .273em; margin-bottom:10px; text-transform: lowercase; color: #7a9688; font-weight:normal; }
.panels-flexible-region-spotlight-image { padding-bottom:5px; margin-left:10px; margin-right:0px; width: 100px; height:100px; }

/* stones main page */
.view-Stones table { width:auto; margin:16px 0 0 16px; padding:0; border-collapse:separate !important; border-spacing:0px !important; }
.view-Stones table td { margin:10px !important; padding:0px !important; width:100px; height:130px; overflow:hidden; vertical-align:top; border:16px solid #fff; }
.view-Stones table td.col-last { margin-right:0px; }
.view-Stones table td .views-field-title,
.view-Stones table td .views-field-title a { font-size:.909em; text-align:center; margin:0; padding: 1px 2px; line-height:.909em; }

/* view-stones-application-thumbs */
.view-stones-application-thumbs table { margin:6px 0 0 6px; border-collapse:separate !important; border-spacing:0px; }
.view-stones-application-thumbs table td { border:12px solid #fff; }

/* stone */
div.finish-image-wrapper { margin-bottom:5px; }

/* stones roofing pane */
.view-stones-surplus-thumbs table { width:auto; margin:7px 0 0 7px; padding:0; border-collapse:separate; border-spacing:0px; }
.view-stones-surplus-thumbs table td { margin:10px !important; padding:0px !important; width:100px; height:180px; overflow:hidden; vertical-align:top; border:14px solid #fff; }
.view-stones-surplus-thumbs table td .views-field-title,
.view-stones-surplus-thumbs table td .views-field-title a { font-size:.909em; text-align:center; margin:0; padding: 1px 2px; line-height:.909em; }

/* special uploaded images */
.pane-node-field-other-misc-information img { margin:0 10px 10px 0; }

/* portfolio main page */
.view-Portfolio table { width:auto; margin:10px 0 0 10px; padding:0; border-collapse:separate; border-spacing:0px; }
.view-Portfolio table td { margin:0px !important; padding:0px !important; width:150px; height:150px; overflow:hidden; border:10px solid #fff; }
.view-Portfolio .portfolio-thumb-screen { margin:-35px 0 0 0; width: 150px; height:35px; overflow:hidden; z-index:10; text-align:center; filter:alpha(opacity=40);-moz-opacity:.40;opacity:.40; background-color:#eee; font-size:9px; line-height:9px; }
.view-Portfolio .portfolio-thumb-title { margin:0; padding:4px 3px; overflow:hidden; font-size:9px; line-height:9px; }
.view-Portfolio .portfolio-thumb-title a { color:#000; font-size:9px; line-height:9px; margin:0; padding:0; }
.view-Portfolio .portfolio-architect { margin:0; padding:0 3px; line-height:9px; font-size:9px; overflow:hidden; line-height:auto; }
.view-Portfolio .portfolio-architect a { color:#000; font-size:9px; line-height:9px; margin:0; padding:0; }
.view-Portfolio .portfolio-thumb-image,
.view-Portfolio .portfolio-thumb-image a { margin:0; padding:0; line-height:0; }

/* project main node page */
#portfolio-images-pane .image-thumbnails .image-thumbnails-preview { height: 315px; margin:0; padding:0; line-height:0; }
#portfolio-images-pane a.ctools-use-modal { display:none; }
#portfolio-images-pane .region-content ul,
#portfolio-images-pane .image-thumbnails .item-list ul { padding:0; margin:0; }
#portfolio-images-pane .image-thumbnails .item-list ul li { margin:1px 1px 0 0; height:62px; width:62px; }
#portfolio-images-pane .field-type-image img { margin:0; }

/* project thumnail backlinks */
.pane-vss-backlinks-vss-project-backlinks .views-view-grid td { margin: 0; padding: 0 16px 16px 0; }
.pane-vss-backlinks-project-backlinks-6-thumbs .views-view-grid td { margin: 0; padding: 0 30px 30px 0; }
.pane-vss-backlinks-project-backlinks-6-thumbs .views-view-grid td.col-last { margin: 0; padding: 0 0 16px 0; }

/* surplus */
.view-Surplus-First thead th { border-bottom: 3px solid #CCCCCC; padding-right: 1em; text-align: left; }
.view-Surplus-First td { width:16%; text-align:left; padding: 5px 10px 5px 0; }
.view-Surplus-First tr { border-bottom: 1px solid #CCCCCC; padding: 0.1em 0.6em; }
